---
layout: default
---
<link rel="stylesheet" href="/css/comments.css">
<div id="post">
  <h1> {{ page.title }} </h1>
  <p class="meta"> {{ page.date | date_to_string }} </p>
  {{ content }}
</div>

{% if page.commentIssueId == null %}
<div id="comments">
    <h2>Comments</h2>
    <div id="header">It's not possible to write a comment for this blog post</div>
</div>
{% else %}
<div id="comments">
  <h2>Comments</h2>
  <div id="header">
    Want to leave a comment? Visit <a href="https://github.com/{{site.github_username}}/{{site.github_username}}.github.io/issues/{{page.commentIssueId}}"> this post's issue page on GitHub</a> (you'll need a GitHub account).
</div>
</div>

<script type="text/javascript">
  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var cuser = data[i].user.login;
      var cuserlink = "https://www.github.com/" + data[i].user.login;
      var clink = "https://github.com/{{site.github_username}}/{{site.github_username}}.github.io/issues/{{page.commentIssueId}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
      var cbody = data[i].body_html;
      var cavatarlink = data[i].user.avatar_url;
      var cdate = data[i].created_at;//Date.parse(data[i].created_at).toString("yyyy-MM-ddTHH:mm:ssZ");
      //var cdate = Date.now();
      //alert("Hello");
      $("#comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>" + '<img src="' + cavatarlink + '" alt="" width="20" height="20">' + "</div><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a><a class='commentdate' href=\"" + clink + "\">" + cdate + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
      
    }
  }
  $.ajax("https://api.github.com/repos/{{site.github_username}}/{{site.github_username}}.github.io/issues/{{page.commentIssueId}}/comments?per_page=100", {
    headers: {Accept: "application/vnd.github.full+json"},
    dataType: "json",
    success: function(msg){
      loadComments(msg);
   }
  });
</script>
{% endif %}